In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
import tensorflow
from tensorflow.keras.models import load_model
import pickle

In [6]:
model=load_model('/Users/rahulmanchanda/Desktop/deep-learning-ann/artifacts/churn_model.h5')

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.

In [10]:
with open('/Users/rahulmanchanda/Desktop/deep-learning-ann/artifacts/onehot_encoder_geography.pkl','rb') as f:
    onehot_geography=pickle.load(f)
with open('/Users/rahulmanchanda/Desktop/deep-learning-ann/artifacts/label_encoder_gender.pkl','rb') as f:
    labelencoder_gender=pickle.load(f)  
with open('/Users/rahulmanchanda/Desktop/deep-learning-ann/artifacts/scaler.pkl','rb') as f:
    scaler=pickle.load(f)

In [8]:
input_data={
'CreditScore':600,
'Geography':'France',
'Gender':'Male',        
'Age':40,
'Tenure':3,
'Balance':60000,
'NumOfProducts':2,
'HasCrCard':1,
'IsActiveMember':1,
'EstimatedSalary':50000

}

In [11]:
geo_encoded=onehot_geography.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_geography.get_feature_names_out(['Geography']))

/Users/rahulmanchanda/Desktop/deep-learning-ann/venv311/lib/python3.11/site-packages/sklearn/utils/validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [12]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [13]:
gender_encoded=labelencoder_gender.transform([input_data['Gender']])
gender_encoded_df=pd.DataFrame(gender_encoded,columns=['Gender'])

In [14]:
gender_encoded_df

   Gender
0       1

In [15]:
input_df=pd.DataFrame([input_data])

In [18]:
input_df["Gender"]=labelencoder_gender.transform(input_df["Gender"])

In [20]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [21]:
input_df=pd.concat([input_df.drop(['Geography'],axis=1),geo_encoded_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [22]:
input_scaled=scaler.transform(input_df)

In [23]:
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [25]:
prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 8ms/step

array([[0.02478737]], dtype=float32)

In [27]:
prediction_proba=prediction[0][0]
if prediction_proba>0.5:
    print(f"the customer is likely to churn")
else:
    print(f"the customer is not likely to churn")

the customer is not likely to churn