In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder,LabelEncoder
import pickle

In [3]:
df=pd.read_csv("/Users/rahulmanchanda/Desktop/deep-learning-ann/Churn_Modelling.csv")
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [4]:
df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)

In [5]:
label_encoder_gender=LabelEncoder()
df["Gender"]=label_encoder_gender.fit_transform(df["Gender"])

In [6]:
onehot_encoder_geography=OneHotEncoder()
geoencoder=onehot_encoder_geography.fit_transform(df[["Geography"]])
geo_encoded_df=pd.DataFrame(geoencoder.toarray(), columns=onehot_encoder_geography.get_feature_names_out(["Geography"]))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
data=pd.concat([df.drop("Geography",axis=1), geo_encoded_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [9]:
X=data.drop("EstimatedSalary", axis=1)
y=data["EstimatedSalary"]

In [11]:
y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [13]:
with open("label_encoder_gender.pkl", "wb") as f:
    pickle.dump(label_encoder_gender,f)
with open("onehot_encoder_geography.pkl", "wb") as f:
    pickle.dump(onehot_encoder_geography,f) 
with open("scaler.pkl", "wb") as f:
    pickle.dump(scaler,f)

In [14]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [15]:
model=Sequential(
    [
        Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
        Dense(32, activation='relu'),
        Dense(1)  # No activation function for regression output
    ]
)
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

In [16]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [18]:
from tensorflow.keras.callbacks import TensorBoard
import datetime
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [19]:
early_stopping_callback = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=5,restore_best_weights=True)

In [20]:
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    batch_size=32,
    callbacks=[tensorboard_callback, early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 0s 693us/step - loss: 13384171520.0000 - mae: 100380.0234 - val_loss: 13009940480.0000 - val_mae: 98533.0156
Epoch 2/100
250/250 [==============================] - 0s 483us/step - loss: 13248710656.0000 - mae: 99704.0547 - val_loss: 12740194304.0000 - val_mae: 97169.8438
Epoch 3/100
250/250 [==============================] - 0s 391us/step - loss: 12771900416.0000 - mae: 97340.7578 - val_loss: 12051402752.0000 - val_mae: 93691.5703
Epoch 4/100
250/250 [==============================] - 0s 400us/step - loss: 11824896000.0000 - mae: 92660.4922 - val_loss: 10887399424.0000 - val_mae: 87813.5547
Epoch 5/100
250/250 [==============================] - 0s 392us/step - loss: 10431127552.0000 - mae: 85692.8125 - val_loss: 9350726656.0000 - val_mae: 80055.3672
Epoch 6/100
250/250 [==============================] - 0s 392us/step - loss: 8759996416.0000 - mae: 77357.1562 - val_loss: 7670763520.0000 - val_mae: 71656.6406
Epoch 7/100
250/250 [==============================] - 0s 385us/step - loss: 7070108160.0000 - mae: 68856.4141 - val_loss: 6120530944.0000 - val_mae: 63957.1172
Epoch 8/100
250/250 [==============================] - 0s 390us/step - loss: 5632207872.0000 - mae: 61437.6953 - val_loss: 4932824576.0000 - val_mae: 57932.3008
Epoch 9/100
250/250 [==============================] - 0s 391us/step - loss: 4607215104.0000 - mae: 56245.1602 - val_loss: 4177395456.0000 - val_mae: 54040.5625
Epoch 10/100
250/250 [==============================] - 0s 397us/step - loss: 3993234688.0000 - mae: 53073.4023 - val_loss: 3773080832.0000 - val_mae: 52003.4492
Epoch 11/100
250/250 [==============================] - 0s 377us/step - loss: 3684029696.0000 - mae: 51538.9258 - val_loss: 3598358528.0000 - val_mae: 51187.2383
Epoch 12/100
250/250 [==============================] - 0s 419us/step - loss: 3544625408.0000 - mae: 50816.8711 - val_loss: 3525026304.0000 - val_mae: 50850.5000
Epoch 13/100
250/250 [==============================] - 0s 397us/step - loss: 3481575168.0000 - mae: 50511.6641 - val_loss: 3490518528.0000 - val_mae: 50679.4258
Epoch 14/100
250/250 [==============================] - 0s 401us/step - loss: 3448179200.0000 - mae: 50327.6367 - val_loss: 3469996032.0000 - val_mae: 50579.7266
Epoch 15/100
250/250 [==============================] - 0s 395us/step - loss: 3426039296.0000 - mae: 50210.5898 - val_loss: 3452947200.0000 - val_mae: 50493.7070
Epoch 16/100
250/250 [==============================] - 0s 395us/step - loss: 3409966848.0000 - mae: 50135.8164 - val_loss: 3439988224.0000 - val_mae: 50436.9414
Epoch 17/100
250/250 [==============================] - 0s 382us/step - loss: 3396746496.0000 - mae: 50068.0469 - val_loss: 3428940032.0000 - val_mae: 50388.1406
Epoch 18/100
250/250 [==============================] - 0s 399us/step - loss: 3385534976.0000 - mae: 50006.6250 - val_loss: 3419853312.0000 - val_mae: 50347.1055
Epoch 19/100
250/250 [==============================] - 0s 389us/step - loss: 3375984640.0000 - mae: 49959.6953 - val_loss: 3410285056.0000 - val_mae: 50302.0625
Epoch 20/100
250/250 [==============================] - 0s 384us/step - loss: 3367523328.0000 - mae: 49912.2227 - val_loss: 3401516288.0000 - val_mae: 50257.2148
Epoch 21/100
250/250 [==============================] - 0s 389us/step - loss: 3360737280.0000 - mae: 49869.5977 - val_loss: 3397331968.0000 - val_mae: 50248.4531
Epoch 22/100
250/250 [==============================] - 0s 372us/step - loss: 3354209280.0000 - mae: 49842.5117 - val_loss: 3389548544.0000 - val_mae: 50214.2773
Epoch 23/100
250/250 [==============================] - 0s 383us/step - loss: 3348846080.0000 - mae: 49810.2539 - val_loss: 3384549888.0000 - val_mae: 50190.5938
Epoch 24/100
250/250 [==============================] - 0s 385us/step - loss: 3343936512.0000 - mae: 49784.6289 - val_loss: 3381392384.0000 - val_mae: 50178.9570
Epoch 25/100
250/250 [==============================] - 0s 388us/step - loss: 3339527680.0000 - mae: 49760.2031 - val_loss: 3375554048.0000 - val_mae: 50152.5430
Epoch 26/100
250/250 [==============================] - 0s 388us/step - loss: 3335796992.0000 - mae: 49740.0430 - val_loss: 3372257280.0000 - val_mae: 50137.2617
Epoch 27/100
250/250 [==============================] - 0s 386us/step - loss: 3332358400.0000 - mae: 49724.3008 - val_loss: 3369424128.0000 - val_mae: 50128.6328
Epoch 28/100
250/250 [==============================] - 0s 389us/step - loss: 3329091584.0000 - mae: 49703.5586 - val_loss: 3366547968.0000 - val_mae: 50114.8008
Epoch 29/100
250/250 [==============================] - 0s 391us/step - loss: 3326652160.0000 - mae: 49687.9688 - val_loss: 3363171328.0000 - val_mae: 50099.4688
Epoch 30/100
250/250 [==============================] - 0s 378us/step - loss: 3323783424.0000 - mae: 49670.4375 - val_loss: 3361526528.0000 - val_mae: 50091.0664
Epoch 31/100
250/250 [==============================] - 0s 381us/step - loss: 3321696000.0000 - mae: 49658.3281 - val_loss: 3360456960.0000 - val_mae: 50092.8164
Epoch 32/100
250/250 [==============================] - 0s 382us/step - loss: 3319419648.0000 - mae: 49645.2656 - val_loss: 3358994944.0000 - val_mae: 50089.6602
Epoch 33/100
250/250 [==============================] - 0s 380us/step - loss: 3317404672.0000 - mae: 49630.5156 - val_loss: 3357812992.0000 - val_mae: 50085.5000
Epoch 34/100
250/250 [==============================] - 0s 385us/step - loss: 3315625472.0000 - mae: 49619.1133 - val_loss: 3357142784.0000 - val_mae: 50084.6758
Epoch 35/100
250/250 [==============================] - 0s 473us/step - loss: 3314297088.0000 - mae: 49609.1953 - val_loss: 3355977728.0000 - val_mae: 50076.8984
Epoch 36/100
250/250 [==============================] - 0s 378us/step - loss: 3312493312.0000 - mae: 49600.3711 - val_loss: 3355453184.0000 - val_mae: 50081.1133
Epoch 37/100
250/250 [==============================] - 0s 383us/step - loss: 3311270912.0000 - mae: 49590.6602 - val_loss: 3355192064.0000 - val_mae: 50083.0391
Epoch 38/100
250/250 [==============================] - 0s 412us/step - loss: 3310092288.0000 - mae: 49583.1445 - val_loss: 3354462208.0000 - val_mae: 50078.7031
Epoch 39/100
250/250 [==============================] - 0s 384us/step - loss: 3309187328.0000 - mae: 49580.8008 - val_loss: 3353677312.0000 - val_mae: 50073.6992
Epoch 40/100
250/250 [==============================] - 0s 383us/step - loss: 3307562240.0000 - mae: 49567.6719 - val_loss: 3353454592.0000 - val_mae: 50076.6523
Epoch 41/100
250/250 [==============================] - 0s 380us/step - loss: 3306752256.0000 - mae: 49563.3711 - val_loss: 3351330304.0000 - val_mae: 50063.1211
Epoch 42/100
250/250 [==============================] - 0s 378us/step - loss: 3305650176.0000 - mae: 49557.3711 - val_loss: 3351063552.0000 - val_mae: 50062.6758
Epoch 43/100
250/250 [==============================] - 0s 384us/step - loss: 3304812544.0000 - mae: 49548.4961 - val_loss: 3350398208.0000 - val_mae: 50060.1172
Epoch 44/100
250/250 [==============================] - 0s 386us/step - loss: 3303814144.0000 - mae: 49540.1367 - val_loss: 3350506752.0000 - val_mae: 50062.9375
Epoch 45/100
250/250 [==============================] - 0s 391us/step - loss: 3303056640.0000 - mae: 49536.4766 - val_loss: 3350567424.0000 - val_mae: 50064.4414
Epoch 46/100
250/250 [==============================] - 0s 383us/step - loss: 3302445568.0000 - mae: 49529.4062 - val_loss: 3350963712.0000 - val_mae: 50068.0352
Epoch 47/100
250/250 [==============================] - 0s 439us/step - loss: 3301483264.0000 - mae: 49524.4375 - val_loss: 3349532928.0000 - val_mae: 50059.6016
Epoch 48/100
250/250 [==============================] - 0s 383us/step - loss: 3300506880.0000 - mae: 49519.8672 - val_loss: 3349175296.0000 - val_mae: 50060.9297
Epoch 49/100
250/250 [==============================] - 0s 373us/step - loss: 3299783424.0000 - mae: 49510.1211 - val_loss: 3349970944.0000 - val_mae: 50064.7422
Epoch 50/100
250/250 [==============================] - 0s 374us/step - loss: 3299305472.0000 - mae: 49506.3125 - val_loss: 3351468544.0000 - val_mae: 50075.6719
Epoch 51/100
250/250 [==============================] - 0s 371us/step - loss: 3298534912.0000 - mae: 49500.3594 - val_loss: 3349721088.0000 - val_mae: 50061.4922
Epoch 52/100
250/250 [==============================] - 0s 373us/step - loss: 3297661184.0000 - mae: 49496.3047 - val_loss: 3349699328.0000 - val_mae: 50060.3125
Epoch 53/100
250/250 [==============================] - 0s 376us/step - loss: 3297445632.0000 - mae: 49494.0938 - val_loss: 3349977600.0000 - val_mae: 50063.7969

In [22]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [27]:
%tensorboard --logdir regressionlogs/fit/

Reusing TensorBoard on port 6008 (pid 32150), started 0:00:55 ago. (Use '!kill 32150' to kill it.)

In [28]:
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f"Test MAE: {test_mae}")      
print(f"Test Loss: {test_loss}")

63/63 [==============================] - 0s 232us/step - loss: 3349175296.0000 - mae: 50060.9297
Test MAE: 50060.9296875
Test Loss: 3349175296.0

In [29]:
model.save("salary_regression_model.h5")

/Users/rahulmanchanda/Desktop/deep-learning-ann/venv311/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(